body{
    background-image: url("https://imgs.search.brave.com/SN_mKSaAu5k-lWWOqfDLa2yjkxeozoDBR4omdfaVc_g/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2Q1L2Nj/LzU4L2Q1Y2M1OGNl/Y2Q2NjdiYmEzNTVh/NzQwZmM5YTEzZDBl/LmpwZw"); 
    background-size:cover;
    text-align: center;
    color: steelblue;
    margin-top: 50%;
}